---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header'
import Main from '../components/Main'
import Profile from '../components/Profile'
import History from '../components/History'
import Projects from '../components/Projects'
import Awards from '../components/Awards'
import Certifications from '../components/Certifications'
import Memberships from '../components/Memberships'
import Footer from '../components/Footer'
---

<Layout title="Welcome to Astro.">
  <Header client:load />

  <div class="background-img-container">
    <Main />
    <Profile />
    <History />
    <Projects client:visible />
    <Awards />
    <Certifications />
    <Memberships />
  </div>

  <Footer />
</Layout>
