<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Attri Enterprises; Quality Roofing and Contracting Services"
    />
    <meta
      name="keywords"
      content="Attri Enterprises, Roofing, Contracting, New York"
    />

    <!-- Favicon -->
    <link rel="icon" href="favicon.webp" />

    <title>Attri Enterprises</title>

    <!-- External CSS links -->
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/index.css" />

    <!-- Scripts -->
    <script src="js/dropdown.js" defer></script>
  </head>
  <body>
    <slot />
  </body>
</html>
